.Posts {
  margin: 40px 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.Posts__card {
  padding: 10px;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Posts__points {
  width: 100px;
  border-right: 2px solid black;
  margin: 20px 0;
  height: 20px;
  display: flex;
  align-items: center;
}

.Posts__title {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.Posts__readMore {
  display: flex;
  align-items: center;
  margin-left: auto;
}
