/* .App {

} */

.App__navbar {
  background-color: #ff6600;
  color: #fff;
  padding: 20px 0;
}

.App__navbar-secondary {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 8px 0;
}

.App__filter-buttons {
  display: flex;
  gap: 12px;
}
