/* .App {

} */

.App__navbar {
  background-color: #ff6600;
  color: #fff;
  padding: 20px 0;
  font-size: x-large;
}

.App__navbar-secondary {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 8px 0;
}

.App__filter-buttons {
  display: flex;
  gap: 12px;
}

.App__page-number {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.App__page-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 5px 0;
}

@media screen and (max-width: 500px) {
  .App__filter-buttons {
    flex-direction: column;
  }
}
