.WidthContainer {
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1120px) {
  .WidthContainer {
    margin: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .WidthContainer {
    margin: 0 10px;
  }
}
